.jumbotron {
  padding-top: 6rem;
  background-color: #526d82;
}

#about {
  background-color: #27374d;
}
#skills {
  background-color: #526d82;
}
#projects {
  background-color: #27374d;
}
#contact {
  background-color: #526d82;
}

section {
  padding-top: 5rem;
}
