.jumbotron {
  padding-top: 6rem;
  background-color: #1c6758;
}

#about {
  background-color: #3d8361;
}
#experience {
  background-color: #1c6758;
}
#projects {
  background-color: #3d8361;
}
#contact {
  background-color: #1c6758;
}

section {
  padding-top: 5rem;
}
